<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jcet.springmvc.biz.serverinfo.dao.IServerInfoMapper">
    <resultMap id="BaseResultMap" type="com.jcet.springmvc.biz.serverinfo.domain.ServerInfo">
        <id column="SYSID" jdbcType="VARCHAR" property="sysid"/>
        <result column="IP" jdbcType="VARCHAR" property="ip"/>
        <result column="LOGINNAME" jdbcType="VARCHAR" property="loginname"/>
        <result column="LOGINPWD" jdbcType="VARCHAR" property="loginpwd"/>
        <result column="REMARK" jdbcType="VARCHAR" property="remark"/>
        <result column="PERSONCHARGE" jdbcType="VARCHAR" property="personcharge"/>
        <result column="CREATED_BY" jdbcType="VARCHAR" property="created_by"/>
        <result column="CREATED_DATE" jdbcType="VARCHAR" property="created_date"/>
        <result column="FLAG" jdbcType="VARCHAR" property="flag"/>
    </resultMap>

    <sql id="Base_Column_List">
        SYSID,IP,LOGINNAME,LOGINPWD,REMARK,PERSONCHARGE,CREATED_BY,TO_CHAR(CREATED_DATE,'YYYY-MM-DD HH24:MI:SS') CREATED_DATE ,FLAG
    </sql>

    <select id="searchByMap" parameterType="java.util.HashMap" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from CIM_SERVER_INFO
        where Flag = 'T'
        <if test="sysid != null">
            and sysid = #{sysid,jdbcType=VARCHAR}
        </if>
        <if test="ip!= null">
            and IP = #{ip,jdbcType=VARCHAR}
        </if>
        <if test="loginname!=null">
            and LOGINNAME = #{loginname,jdbcType=VARCHAR}
        </if>
        <if test="personcharge!=null">
            and PERSONCHARGE = #{personcharge,jdbcType=VARCHAR}
        </if>
    </select>

    <update id="updateByPrimaryKey" parameterType="com.jcet.springmvc.biz.serverinfo.domain.ServerInfo">
        update CIM_SERVER_INFO
        <set>
            <if test="ip!= null">
                IP = #{ip,jdbcType=VARCHAR},
            </if>
            <if test="loginname!=null">
                LOGINNAME = #{loginname,jdbcType=VARCHAR},
            </if>
            <if test="loginpwd!=null">
                LOGINPWD = #{loginpwd,jdbcType=VARCHAR},
            </if>
            <if test="personcharge!=null">
                PERSONCHARGE = #{personcharge,jdbcType=VARCHAR},
            </if>
            <if test="remark!=null">
                REMARK = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="flag!=null">
                FLAG = #{flag,jdbcType=VARCHAR},
            </if>
        </set>
        where sysid = #{sysid,jdbcType=VARCHAR}
    </update>

    <insert id="insertBySelective" parameterType="com.jcet.springmvc.biz.serverinfo.domain.ServerInfo">
          insert into cim_server_info
          (sysid,ip,loginname,loginpwd,personcharge,remark,created_by,created_date,flag)
          <trim prefix="values (" suffix=")" suffixOverrides=",">
              sys_guid(),
              <if test="ip != null">
                  #{ip,jdbcType=VARCHAR},
              </if>
              <if test="loginname != null">
                  #{loginname,jdbcType=VARCHAR},
              </if>
              <if test="loginpwd != null">
                  #{loginpwd,jdbcType=VARCHAR},
              </if>
              <if test="personcharge != null">
                  #{personcharge,jdbcType=VARCHAR},
              </if>
              <if test="remark != null">
                  #{remark,jdbcType=VARCHAR},
              </if>
              <if test="created_by != null">
                  #{created_by,jdbcType=VARCHAR},
              </if>
              sysdate,
              <if test="flag != null">
                  #{flag,jdbcType=VARCHAR},
              </if>
          </trim>
    </insert>

</mapper>
